.listL {
    position: relative;
}
.listL .value {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}
.listL .value i {
    margin-left: 7px;
}
.listL .list {
    display: none;
    position: absolute;
}

.listM {
    position: relative;
}
.listM .value {
    color: #e6142c;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
.listM .value i {
    margin-left: 5px;
}
.listM .list {
    display: none;
    position: absolute;
}
