.r {
    position: relative;
}
.thumbnail {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid #777;
}
.list {
    position: absolute;
    left: 30px;
    top: 0;
    background: #fff;
    z-index: 999;
}
