.r, .cap, .lid {position: relative;}
/* Light Themes */
.textLight {
    color: #333;
    background: #fff;
    width: calc(100% - 32px);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    font-size: 14px;
    padding: 13px 16px;
    width: calc(100% - 32px);
    outline: 0;
    border: 2px solid rgb(214, 214, 214);
}
.textLight:disabled {
    background:#f1f1f1;
    color: #ccc;
    cursor: default
}

.textLight::-webkit-input-placeholder {
    color: #ccc;
    letter-spacing: 2px;
    font-weight: 100;
}
.textLight:-ms-input-placeholder {
    color: #ccc;
    letter-spacing: 2px;
    font-weight: 100;
}
.textLignt::-moz-placeholder {
    color: #ccc;
    letter-spacing: 2px;
    font-weight: 100;
}
.lastIcon {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background: #f1f1f1!important;
    border: 1px solid #ccc!important;
    position: absolute;
    right: 8px;
    top: 9px;
    padding: 0!important;
    margin: 0!important;
}

.btSpinner {
    position: absolute;
    right: 8px;
    top: 9px;
    padding: 0!important;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #ddd;
    border-top: 2px solid #000;
    animation: spin infinite 1s linear;
    -webkit-animation: spin infinite 1s linear;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.cap .textLight {
    border-top-left-radius: 0!important;
    -webkit-border-top-left-radius: 0!important;
    -moz-border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    -webkit-border-top-right-radius: 0!important;
    -moz-border-top-right-radius: 0!important;
    border-top: 0!important;
}

.lid .textLight {
    border-bottom-left-radius: 0!important;
    -webkit-border-bottom-left-radius: 0!important;
    -moz-border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    -webkit-border-bottom-right-radius: 0!important;
    -moz-border-bottom-right-radius: 0!important;
}
.s {
    padding: .5rem 1rem;
    font-size: 14px;
    letter-spacing: .5px;
    min-width: 300px;
    outline: 0;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
