/* Icon */
.icon {
    background: #fafafa;
    border: 2px solid #fff;
    outline: 0;
    width: 44px;
    height: 44px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    cursor: pointer;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

.icon:hover {
    border: 2px solid #000;
}

/* Add */
.add {
    background: #e6142c;
    width: 50px;
    height:50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 999
}
