.icon {
    background: #fafafa;
    border: 2px solid #fff;
    outline: 0;
    width: 44px;
    height: 44px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    cursor: pointer;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

.icon:hover {
    border: 2px solid #000;
}
