.header {
    position: absolute;
    padding: 30px 22px 20px;
    top: 0;
    left: 0;
    border-bottom: 3px solid #ebebeb;
    width: calc(100% - 44px);
    /* height: 265px; */
    height: 95px;
    overflow: hidden;
    z-index: 100;
    background: #fff;
    transition: all 1s ease;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
}
.header nav ul {
    margin: 30px 0 0 0;
}
.header nav ul li {
    list-style-type: none;
    display: block;
    margin: 1px 0 0 0;
}

.header nav ul li a i {
    margin-right: 8px;
    vertical-align: -1px;
}
.header nav ul li a {
    display: block;
    padding: 12px 15px;
    font-size: 15px;
    letter-spacing: .6px;
    color: #999;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px
}
.header nav ul li a:hover {
    color: #000;
    background: #f1f1f1;
}
.header h2 {
    margin: 15px 0 0 0;
    font-weight: bold;
    font-size: 18px;
}

.url {
    margin: 4px 0 0 0;
}
.url a {
    letter-spacing: .5px;
    color: #888;
    font-size: 11px;
}
.down img {
    vertical-align: middle
}
.down {
    outline: 0;
    cursor: pointer;
    border: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 14px;
}
.down:hover {
    background: #f1f1f1;
}
.navs {
    overflow: hidden;
    height: calc(100% - 148px);
    position: absolute;
    bottom: 0;
    width: 240px;
}
.nav . in {
    position: relative
}
.firstNav {
    padding: 20px 22px;
}
.firstNav ul {
    margin-top: 12px;
}
.firstNav ul li {
    list-style-type: none
}
.firstNav ul li a {
    font-size: 16px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    display: block;
    color: #333;
    padding: 12px 12px;
    margin: 1px 0 0 0
}
.firstNav ul li.current a {
    background: #e6142c;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    color: #fff;
}

.firstNav ul li.current a img {
    filter: brightness(0) invert(1);
}
.firstNav ul li.current:hover a {
    background: #e6142c
}
.firstNav ul li a i {
    margin: 0 7px 0 0;
    vertical-align: -1px;
}
.firstNav ul li a:hover {
    background: #f1f1f1;
}
.hr {
    margin-top: 24px;
    position: relative;
}
.hr:before {
    content: '';
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    position: absolute;
    top: 10px;
    z-index: -1;
}
.hr span {
    padding-right: 5px;
    color: #999;
    background: #fff;
    font-size: 11px;
    font-weight: 100

}

.cover {
    transition: all 0.25s ease;
    -moz-transition: all 0.25se;
    -webkit-transition: all 0.25se;
    -o-transition: all 0.25se;
    background: rgba(0,0,0,.4);
    width: 240px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: none;
    z-index: 2;
}

.cover.on {
    display: block;
    -webkit-animation: fadeIn .5s 1;
    animation: fadeIn .5s 1;
}

@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

.nav {
    position: absolute;
    height: 100%;
    width: 240px;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}
