* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6,li {
    line-height: 1;
}
#_31YEWI3ClXTLcpnFtRkHQL { height: 100vh; }
html { height: 100%; min-width: 1200px; min-height: 100%;}
body { font-family: 'Open Sans', sans-serif; height: 100%; }
a {
    text-decoration: none
}

h1 {
    font-size: 33px;
}


/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OX-hpKKSTj5PW.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OVuhpKKSTj5PW.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OXuhpKKSTj5PW.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OUehpKKSTj5PW.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OXehpKKSTj5PW.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OXOhpKKSTj5PW.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OUuhpKKSTjw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFUZ0bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFWZ0bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVp0bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFWp0bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFW50bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOX-hpKKSTj5PW.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOVuhpKKSTj5PW.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOXuhpKKSTj5PW.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOUehpKKSTj5PW.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOXehpKKSTj5PW.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOXOhpKKSTj5PW.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


._1WVdpOzTyYNnUgF1i0q7gv {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 999;
}

._2qFWVNKxMMvU4oV3IxewYS {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    z-index: 9999
}
._2qFWVNKxMMvU4oV3IxewYS div {
    opacity:1;
    animation: _31cM_M-v81aFZrre5kiLOS .9s infinite;
    text-align: center;
}
._2qFWVNKxMMvU4oV3IxewYS div p {
    margin-top: 10px;
    letter-spacing: 4px;
    font-size: 12px;
    color: #999;
}
@keyframes _31cM_M-v81aFZrre5kiLOS {
  0%   { opacity:1; }
  50%  { opacity:0.2; }
  100% { opacity:1; }
}

._3j6NqCkSNhYbRxuXvCp-RP {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.8);
    z-index: 999;
}

._3f2LRn_vuKVSttnUs0XX2s {
    color: #333;
    background: #fff;
    width: 160px;
    position: fixed;
    bottom: 105px;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.3);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-transition: all .24s ease;
    -moz-transition: all .24s ease;
    -webkit-transition: all .24s ease;
}
._3f2LRn_vuKVSttnUs0XX2s a {
    color: #333;
    font-size: 14px;
}

._3f2LRn_vuKVSttnUs0XX2s ul {
    padding: 0;
    position: relative;
    z-index: 9999;
}

._3f2LRn_vuKVSttnUs0XX2s ul:after {
    background: #fff;
    content: '';
    width: 16px;
    height: 16px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    bottom: -8px;
    right: 50%;
    margin-right: -8px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: -1
}

._3f2LRn_vuKVSttnUs0XX2s ul li {
    background: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    display: block;
    padding: 16px 0
}
._3f2LRn_vuKVSttnUs0XX2s ul li:first-child {
    border-top-left-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-top-right-radius: 7px;
}
._3f2LRn_vuKVSttnUs0XX2s ul li:last-child {
    border-bottom-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-bottom-right-radius: 7px;
    border: none
}
._3f2LRn_vuKVSttnUs0XX2s ul li:hover {
    background: #fafafa
}

._1LgiD2nXic45SPrGOSSdE {
    position: fixed;
    left: 0;
    top: 0;
    width: 42px;
    height: calc(100% - 25px);
    padding: 25px 11px 0;
    z-index: 1;
    background: #f8f8f8;
    border-right: 1px solid #ebebeb
}
    /*box-shadow: 0 0 15px rgba(0,0,0,.2);*/
._3GeAj4Xkb1QCpbV5MQrddQ {
    width: 100%;
    height: 100%;
    position: relative;
}
._1N_gYToUWnVe_gOR2WQLxV {
    position:absolute;
    left: 14px;
    bottom: 10px;
}

._3CIZS8iu0Bx7dnsP1ll3HH {
    position: relative;
    z-index: 999;
}
.xoVgL-5qlEZQ5EJwukVwE {
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid #777;
}
._2Y6aHxaGynDxC4RlV42ORN {
    position: absolute;
    left: 50px;
    bottom: 0;
    background: #fff;
    z-index: 999;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}
._2Y6aHxaGynDxC4RlV42ORN ul {
    padding: 7px;
}
._2Y6aHxaGynDxC4RlV42ORN ul li {
    cursor: pointer;
    display: block;
    padding: 8px 26px;
    border-bottom: 1px solid #ebebeb;
    list-style-type: none;
    font-size: 12px;
}
._2Y6aHxaGynDxC4RlV42ORN ul li:last-child {
    border: 0;
}
._2Y6aHxaGynDxC4RlV42ORN:before {
    content: '';
    width: 10px;
    height: 10px;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    position: absolute;
    border-radius: 2px;
    transform: rotate(45deg);
    bottom: 15px;
    left: -6px;
    background: #fff;
}

.bhBNARE4gzEDfvy3RCitJ {
    display: block;
    padding: 0 0 0 10px;
    cursor: pointer;
}
.bhBNARE4gzEDfvy3RCitJ a {
    color: #000;
}
.bhBNARE4gzEDfvy3RCitJ:hover {
    background: #f1f1f1;
}
.bhBNARE4gzEDfvy3RCitJ ._2HGth3f5DAHRdlmg1f69vj {
    background: #ddd;
    min-width: 80px;
    width: 80px;
    height: 49px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}
.bhBNARE4gzEDfvy3RCitJ .PZOYipKHBxSt4HAvZd_O4 {
    padding: 6px 0;
    border-bottom: 1px solid #ebebeb;
    display: flex
}

.bhBNARE4gzEDfvy3RCitJ h2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.3;
}
.bhBNARE4gzEDfvy3RCitJ .T5AlzWuJyYZMnUhDaa7rP {
    padding: 0 7px;
    width: 100%;
}
.bhBNARE4gzEDfvy3RCitJ ._35hzdoREhJaVONU5oZUOWf {
    font-size: 10px;
    color: #999;
    margin: 3px 0 0 0;
}

.ZJ6xtRIyw6fnlvqKXyDnP {
    position: relative;
}
.ZJ6xtRIyw6fnlvqKXyDnP ._3oEgqe0kPLlm-iUVBIJXZD {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}
.ZJ6xtRIyw6fnlvqKXyDnP ._3oEgqe0kPLlm-iUVBIJXZD i {
    margin-left: 7px;
}
.ZJ6xtRIyw6fnlvqKXyDnP ._2DZsZ10xlyBtLahKRTdWJz {
    display: none;
    position: absolute;
}

._1Y1x-eAXBDgomewKlEiB_ {
    position: relative;
}
._1Y1x-eAXBDgomewKlEiB_ ._3oEgqe0kPLlm-iUVBIJXZD {
    color: #e6142c;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
._1Y1x-eAXBDgomewKlEiB_ ._3oEgqe0kPLlm-iUVBIJXZD i {
    margin-left: 5px;
}
._1Y1x-eAXBDgomewKlEiB_ ._2DZsZ10xlyBtLahKRTdWJz {
    display: none;
    position: absolute;
}

._3RYosxiwLHYd0mYidsvjhb {
    font-size: 13px;
    letter-spacing: .4px;
    font-weight: bold;
}

.d2823mMrIUeUH53uQf24k {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.d2823mMrIUeUH53uQf24k input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.d2823mMrIUeUH53uQf24k ._2rNXgDQ29W9Z1XEkII_tNd {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.d2823mMrIUeUH53uQf24k ._2rNXgDQ29W9Z1XEkII_tNd:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
}
input:checked + ._2rNXgDQ29W9Z1XEkII_tNd:before {
  background:#e6142c;
}

input:checked + ._2rNXgDQ29W9Z1XEkII_tNd {
  background:#fff;
  border-radius: 34px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
}
input:focus + ._2rNXgDQ29W9Z1XEkII_tNd {
  box-shadow: 0 0 1px #2196F3;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
}

input:checked + ._2rNXgDQ29W9Z1XEkII_tNd:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}


.HcgH0inGRklwKQm0xtqrf {
    position: absolute;
    padding: 30px 22px 20px;
    top: 0;
    left: 0;
    border-bottom: 3px solid #ebebeb;
    width: calc(100% - 44px);
    /* height: 265px; */
    height: 95px;
    overflow: hidden;
    z-index: 100;
    background: #fff;
    transition: all 1s ease;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
}
._2noBGHA0H5lpeI0qDc7wWR {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: #fff;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    z-index: 999
}
._2lzyFThs3WiL9LZdDyh_dS {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 550px;
    width: 100%;
}
._1Rky22wUdnW-Xf55M9-cdH {
    background: #eee;
    overflow: scroll;
    height: 100%;
}
._1l0_acoE6Me8LS2hxElmcw input[type="text"]{
    font-size: 13px;
    border: 0;
    outline: 0;
    width: calc(100% - 44px);
    padding: 20px 22px 14px;
}
.vQ7B0eVJZo0VxEfvQOp9j table th {
    text-align: left;
    min-width: 70px;
}
.vQ7B0eVJZo0VxEfvQOp9j table td {
    padding: 5px 0;
}
._2PiYntxNpPWH8yOOA8bHKn {
    cursor:pointer;
    position: absolute;
    margin: 0;
    right: -20px;
    top: 33px;
    width: 40px;
    height: 40px;
    background: #fff;
    transform: rotate(90deg);
    outline: 0;
    border: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.HcgH0inGRklwKQm0xtqrf nav ul {
    margin: 30px 0 0 0;
}
.HcgH0inGRklwKQm0xtqrf nav ul li {
    list-style-type: none;
    display: block;
    margin: 1px 0 0 0;
}

.HcgH0inGRklwKQm0xtqrf nav ul li a i {
    margin-right: 8px;
    vertical-align: -1px;
}
.HcgH0inGRklwKQm0xtqrf nav ul li a {
    display: block;
    padding: 12px 15px;
    font-size: 15px;
    letter-spacing: .6px;
    color: #999;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px
}
.HcgH0inGRklwKQm0xtqrf nav ul li a:hover {
    color: #000;
    background: #f1f1f1;
}
.HcgH0inGRklwKQm0xtqrf h2 {
    margin: 15px 0 0 0;
    font-weight: bold;
    font-size: 18px;
}

._3rN1fY8PhGg7BAwN2FZsXG {
    margin: 4px 0 0 0;
}
._3rN1fY8PhGg7BAwN2FZsXG a {
    letter-spacing: .5px;
    color: #888;
    font-size: 11px;
}
._1rfLRABX-h7FUOtUAZiBCA img {
    vertical-align: middle
}
._1rfLRABX-h7FUOtUAZiBCA {
    outline: 0;
    cursor: pointer;
    border: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 14px;
}
._1rfLRABX-h7FUOtUAZiBCA:hover {
    background: #f1f1f1;
}
._3z53nFlALWb5uqTa0jdy_z {
    overflow: hidden;
    height: calc(100% - 148px);
    position: absolute;
    bottom: 0;
    width: 240px;
}
._1Qwf8bvg_kUhZ9twBTlJ1o . in {
    position: relative
}

.EDZYQgBPSTivbuGIiSk0c {
    padding: 20px 22px;
}
.EDZYQgBPSTivbuGIiSk0c ul {
    margin-top: 12px;
}
.EDZYQgBPSTivbuGIiSk0c ul li {
    list-style-type: none
}
.EDZYQgBPSTivbuGIiSk0c ul li a {
    font-size: 15px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    display: block;
    color: #333;
    padding: 11px;
    margin: 1px 0 0 0
}
.EDZYQgBPSTivbuGIiSk0c ul li._2oZRDDo3pWnFesGZK7kz_Z a {
    background: #e6142c;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    color: #fff;
}

.EDZYQgBPSTivbuGIiSk0c ul li._2oZRDDo3pWnFesGZK7kz_Z a img {
    filter: brightness(0) invert(1);
}
.EDZYQgBPSTivbuGIiSk0c ul li._2oZRDDo3pWnFesGZK7kz_Z:hover a {
    background: #e6142c
}
.EDZYQgBPSTivbuGIiSk0c ul li a i {
    margin: 0 7px 0 0;
    vertical-align: -1px;
}
.EDZYQgBPSTivbuGIiSk0c ul li a:hover {
    background: #f1f1f1;
}

._2pqCbi5zE-z6pj97UfvPJV {
    transition: all 0.25s ease;
    -moz-transition: all 0.25se;
    -webkit-transition: all 0.25se;
    -o-transition: all 0.25se;
    background: rgba(0,0,0,.4);
    width: 240px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: none;
    z-index: 2;
}

._2pqCbi5zE-z6pj97UfvPJV._3vRp6kDQrWIsqTs433Ewph {
    display: block;
    -webkit-animation: _3ctygxGSuJf79N1f-OAcV7 .5s 1;
    animation: _3ctygxGSuJf79N1f-OAcV7 .5s 1;
}

@-webkit-keyframes _3ctygxGSuJf79N1f-OAcV7 { from { opacity: 0; } to { opacity: 1; } }
@keyframes _3ctygxGSuJf79N1f-OAcV7 { from { opacity: 0; } to { opacity: 1; } }

._1Qwf8bvg_kUhZ9twBTlJ1o {
    position: absolute;
    height: 100%;
    width: 240px;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    background: #fff;
}
._1Qwf8bvg_kUhZ9twBTlJ1o nav {
    position: relative;
    height: 100%;
}
._3yV2NcDY9KqNbDTgypM9c8 {
    height: calc(100% - 41px);
    overflow: scroll;
    position: absolute;
    top: 41px;
    left: 0;
}
._2O-DWl5_jaGTmJtaVgMZU {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 40px;
    background: #fff;
    z-index: 1;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0 0 8px rgba(0,0,0,.17);
}

._2znBXLzPYXyA3GtbnjD1n3 {
    margin: 4px 0 0 10px;
    display: inline-block;
    background:#ebebeb;
    padding: 5px 30px;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
}

._2UTDf4C9W8Tf6MiWljBAum {
    margin-top: 24px;
    position: relative;
}
._2UTDf4C9W8Tf6MiWljBAum:before {
    content: '';
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    position: absolute;
    top: 10px;
    z-index: -1;
}
._2UTDf4C9W8Tf6MiWljBAum span {
    padding-right: 5px;
    color: #999;
    background: #fff;
    font-size: 11px;
    font-weight: 100
}

._1WUXR3m6J34Ib6Vw0ZpEzu {
    width: 100%;
    flex: 1;
    height: 100%;
}
._1-fvxZCkP7w4EyFFsCNc0x {
    position: fixed;
    left: 64px;
    background: #fff;
    width: calc(100% - 64px);
    height: 100%;
}
.wcdVsCXpNrzZN4Bggl-ED {
    position: relative;
    height: 100%;
    display: flex;
}
.wcdVsCXpNrzZN4Bggl-ED aside {
    left: 0;
    top: 0;
    border-right: 1px solid #ebebeb;
    height: 100%;
    width: 240px;
    position: relative;
}

._3oK7LIYJ1jrOMJfJdouhyk p {
    padding: 4px 0;
}
._3oK7LIYJ1jrOMJfJdouhyk [type="radio"]:checked,
._3oK7LIYJ1jrOMJfJdouhyk [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
._3oK7LIYJ1jrOMJfJdouhyk [type="radio"]:checked + label,
._3oK7LIYJ1jrOMJfJdouhyk [type="radio"]:not(:checked) + label
{
    font-size: 13px;
    letter-spacing: .5px;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #333;
}
._3oK7LIYJ1jrOMJfJdouhyk [type="radio"]:checked + label:before,
._3oK7LIYJ1jrOMJfJdouhyk [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

._3oK7LIYJ1jrOMJfJdouhyk [type="radio"]:checked + label:after,
._3oK7LIYJ1jrOMJfJdouhyk [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #e6142c;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
._3oK7LIYJ1jrOMJfJdouhyk [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
._3oK7LIYJ1jrOMJfJdouhyk [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.oOyUOflCbChnkVi_QoFGw, ._1U3CSkL17X2aYmwYr1_Fsy, ._3YL6j6kmZ1Cl0wacfH7Ilq {position: relative;}
/* Light Themes */
._3G6kyp-er-ACcyHcCWlWFr {
    color: #333;
    background: #fff;
    width: calc(100% - 32px);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    font-size: 14px;
    padding: 13px 16px;
    width: calc(100% - 32px);
    outline: 0;
    border: 2px solid rgb(214, 214, 214);
}
._3G6kyp-er-ACcyHcCWlWFr:disabled {
    background:#f1f1f1;
    color: #ccc;
    cursor: default
}

._3G6kyp-er-ACcyHcCWlWFr::-webkit-input-placeholder {
    color: #ccc;
    letter-spacing: 2px;
    font-weight: 100;
}
._3G6kyp-er-ACcyHcCWlWFr:-ms-input-placeholder {
    color: #ccc;
    letter-spacing: 2px;
    font-weight: 100;
}
.yZdil3fHqkfN6QJC7zzl::-moz-placeholder {
    color: #ccc;
    letter-spacing: 2px;
    font-weight: 100;
}
._307yYHxqfZkz1HeUYE2Fv- {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background: #f1f1f1!important;
    border: 1px solid #ccc!important;
    position: absolute;
    right: 8px;
    top: 9px;
    padding: 0!important;
    margin: 0!important;
}

.vSr4eIsGA0kYPh3KZw8sl {
    position: absolute;
    right: 8px;
    top: 9px;
    padding: 0!important;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #ddd;
    border-top: 2px solid #000;
    animation: -JXdP3CqazWwxF9yZIpV5 infinite 1s linear;
    -webkit-animation: -JXdP3CqazWwxF9yZIpV5 infinite 1s linear;
}

@-webkit-keyframes -JXdP3CqazWwxF9yZIpV5 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes -JXdP3CqazWwxF9yZIpV5 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
._1U3CSkL17X2aYmwYr1_Fsy ._3G6kyp-er-ACcyHcCWlWFr {
    border-top-left-radius: 0!important;
    -webkit-border-top-left-radius: 0!important;
    -moz-border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    -webkit-border-top-right-radius: 0!important;
    -moz-border-top-right-radius: 0!important;
    border-top: 0!important;
}

._3YL6j6kmZ1Cl0wacfH7Ilq ._3G6kyp-er-ACcyHcCWlWFr {
    border-bottom-left-radius: 0!important;
    -webkit-border-bottom-left-radius: 0!important;
    -moz-border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    -webkit-border-bottom-right-radius: 0!important;
    -moz-border-bottom-right-radius: 0!important;
}
.zq6c04Ah8-MiuMdeTlSep {
    width: calc(100% - 2rem);
    padding: .5rem 1rem;
    font-size: 14px;
    letter-spacing: .5px;
    min-width: 300px;
    outline: 0;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.ma0lpT2tAdMt1g72MvrV0 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border: 1px solid #fff;
    cursor: pointer;
}
.ma0lpT2tAdMt1g72MvrV0:hover {
    opacity: .8;
}
._13LdkZE1VOYLPyrDRJ913g img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    vertical-align: top;
}

._3jYhw6HiFF0VHPxjLbvVMP {
    padding: 0 0 0 7px;
    flex: 1;
}
._3jYhw6HiFF0VHPxjLbvVMP ._37ru7gbHU2oP9Zh1t-D7f9 {
    font-size: 14px;
    font-weight: bold;
}
._3jYhw6HiFF0VHPxjLbvVMP ._2u61rg1mL46f8owGUunxdp {
    font-size: 11px;
    color: #888;
}

.lDNQk5N0xPjqoK0oXiVxn input[type="text"] {
color: #333;
    background: #fff;
    width: calc(100% - 32px);
    font-size: 14px;
    padding: 13px 0;
    width: calc(100% - 32px);
    outline: 0;
    border: 0;
    border-bottom: 1px solid rgb(214, 214, 214);
}
._1K7V1OvAfd_C32ny2bFe9 {
    padding-top: 16px;
}
._1K7V1OvAfd_C32ny2bFe9 ul li {
    margin: 0 8px 8px 0;
    cursor: pointer;
    list-style-type: none;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 14px;
    display: inline-block;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    letter-specing: 1px;
    position: relative;
    overflow: hidden;
}

._1K7V1OvAfd_C32ny2bFe9 ul li span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background: red;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}
._1K7V1OvAfd_C32ny2bFe9 ul li:hover span {
    opacity: 1;
}
._1K7V1OvAfd_C32ny2bFe9 ul li span img {
    filter: brightness(0) invert(1);
    transform: rotate(45deg)
}

.MH-Q9plm_gN1o2btx1rgV {
    background: #ebebeb;
    background-size: 120px auto!important;
    width: 100%;
    height: 140px;
    border:1px solid #ebebeb;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
._1djrtDrFHEE41uVPPcA1Kw {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
._1djrtDrFHEE41uVPPcA1Kw p {
    font-size: 11px;
    letter-spacing: .5px;
    color: #666;
}

.VCAqvskS__ziD44r_9ISC {
    background: #ebebeb;
    border-bottom: 1px dashed #ebebeb;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.25s ease;
    -moz-transition: all 0.25se;
    -webkit-transition: all 0.25se;
    -o-transition: all 0.25se;
}

.VCAqvskS__ziD44r_9ISC p {
    letter-spacing: 1px;
    line-height: 1.8;
    color: #000;
    font-size: 11px;
}

._3PGg9k8r_wIWj0vAohOU6a {
    position: relative;
}
._2m33cAWwaQaG3QsruGyuTb {
    position: absolute;
    left: 0;
    top: 0;
}
._3cmbyWdFAHkR0-yjMKwIlo {
    position: absolute;
    height: 32px;
    right: 0;
    top: -4px;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    opacity: 1
}
._3cmbyWdFAHkR0-yjMKwIlo button {
    height: 27px;
    outline: 0;
    border: 0;
    cursor: pointer;
}
._3cmbyWdFAHkR0-yjMKwIlo svg {
    width: 32px;
    height: 32px;
    fill: #ccc;
}
.GA00qg3ceWoYe5C30mmLa {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0
}

._12k0_tOACRHfePevuuKwt8 {
    display: flex;
    width: 100%;
    height: 100%;
}

._2PoVmP5_uxnQJ8S8OX4NsY {
    flex: 1;
}
.Pfkv_psIiRvnBuQp3dsRm {
    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
    position: relative;
}
.DlMQVbT5CVnD8B67ao5PT table {
    margin: 40px auto 0;
    width: 100%;
    max-width: 520px;
}
.DlMQVbT5CVnD8B67ao5PT table th {
    font-size: 12px;
    text-align:left;
}
.DlMQVbT5CVnD8B67ao5PT table td {
    padding: 8px 0;
}
.DlMQVbT5CVnD8B67ao5PT {
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
._2jx8Gs0eDSU1rUsD8n8hCa ul {
    display: flex;
    height: 50px;
}
._2jx8Gs0eDSU1rUsD8n8hCa ul li {
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 14px;
    font-weight:bold;
    cursor: pointer;
    letter-spacing: 1px;
    text-align: center;
    list-style-type: none;
    width: 100%;
}
.DlMQVbT5CVnD8B67ao5PT::-webkit-scrollbar {
    display: none;
}
._1EiFMitZ2qqL40yUOTmIzv {
    width: 300px;
    height: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
}
._1tCRNqOkQu018i5wOYz4e6 ._1hGTfy0_AzpXpHYHuSRoHT {}
._1kOBB3NKSc-DkxRk17puL3 {
    padding: 30px 22px;
}
._2PoVmP5_uxnQJ8S8OX4NsY ._3fKJVJiArLfO9g4fVe1Dg2 .zYN5lX3_EmQShnKdw5lE6 {
    letter-spacing: .8px;
    margin: 36px auto 0;
    max-width: 520px;
    outline: 0;
    line-height: 1.3;
    font-size: 36px;
    font-weight: normal;
}
._1zN6QslMF_35cn6zr0wVRt {
    margin: 30px 0 0 0;
}
._1zN6QslMF_35cn6zr0wVRt h2 {
    font-weight: normal
}
._2WuHFrfEuIsdwSIgirAobs {
    font-size: 12px;
    color: #999;
}

._2PoVmP5_uxnQJ8S8OX4NsY ._3fKJVJiArLfO9g4fVe1Dg2 .zYN5lX3_EmQShnKdw5lE6[contenteditable=true]:empty:before{
    color: #ccc;
    content: attr(placeholder);
    display: block; /* For Firefox */
}
._36lm4CEn58AGrlEvwwf1qj {
    max-width: 570px;
    margin: 5px auto 0;
}
._1-Ro6K-0JpR5qCMJc5cESq {
    margin-top: 40px;
    background: #eee;
    height: 100px;
}



.cTMl4qNa9uFSZksfIjjPg {
}
.cTMl4qNa9uFSZksfIjjPg header {
    padding: 50px 0 30px 0;
}
.cTMl4qNa9uFSZksfIjjPg header h1 {
    margin: 7px 0 0 0;
}

._2HqO7xyIbOUkWlF3UZxKN3 {
    color: #999;
    font-size: 13px;
}

._33-Ilm1pM-QHhqukpQe3Rj {
    padding: 0 8%;
}


/*# sourceMappingURL=styles.chunk.css.map*/